<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h4 class="mb-5 text-color col-3 text-center ml-5">注文情報確認</h4>

          <div class="row">
            <table class="table table-bordered border-dark col-7">
            <thead>
              <tr class="table-color">
                  <th class="table-active">商品名</th>
                  <th class="table-active">単価(税込)</th>
                  <th class="table-active">数量</th>
                  <th class="table-active">小計</th>
              </tr>
            </thead>
            <tbody>
              <% @sum = 0 %>
              <% @cart_products.each do |cart_product| %>
              <tr>
                  <td><%= cart_product.product.name  %></td>
                  <td><%= cart_product.product.add_tax_price %></td>
                  <td><%= cart_product.amount %></td>
                  <td><%= cart_product.product.add_tax_price * cart_product.amount %></td>
              </tr>
              <% @sum += cart_product.product.add_tax_price * cart_product.amount %>
              <% end %>
            </tbody>
           </table>

           <table class="table table-bordered border-dark col-2 mb-3 ml-5 h-75">
              <tr>
                  <th class="table-active table-color">送料</th>
                  <td>800</td>
              </tr>
              <tr>
                  <th class="table-active table-color">商品合計</th>
                  <td><%= @sum %></td>
              </tr>
              <tr>
                  <th class="table-active table-color">請求金額</th>
                  <td><%= @sum +800 %></td>
              </tr>
           </table>
        </div>


          <div class="payment_info row mt-3 mb-3">
              <h5 class="font-weight-bold">支払方法　　</h5>
              <%= @order.payment_method %>
              <br>
          </div>

          <div class="address_info row mb-3">
              <h5 class="font-weight-bold">お届け先　　</h5>
              <span>〒</span><%= @order.postcode %>　<%= @order.address %><br><%= @order.name %>
              <br>
          </div>
        <%= form_with model:@order, url: orders_path, local:true do |f| %>

          <div class="row justify-content-center">
            <%= f.submit "注文を確定する", class: "btn btn-primary col-3" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</body>