<body>
  <div class="container">
    <div class="row">
      <div class="col-7">
          <h4 class="mb-4 text-color col-4 text-center ml-5 pb-2 pt-2 rounded-pill">注文情報入力</h4>


          <%= form_with(model:@order, url: orders_confirm_path, local: true) do |f| %>
          <div class="field">
            <span class="font-weight-bold">支払い方法</span><br>

            <div class="form-check mt-3">
                <%= f.radio_button :payment_method,:クレジットカード,  checked: "checked" %>
                <%= f.label :payment_method, "クレジットカード" %>
                <br>
                <%= f.radio_button :payment_method, :銀行振込 %>
                <%= f.label :payment_method, "銀行振込" %>
            </div>
          </div>


          <div class="field">
            <span class="font-weight-bold">お届け先</span><br>

            <div class="form-check mt-3">
                <%= f.radio_button :address_num,0,  checked: "checked" %>
                <%= f.label :address, "ご自身の住所" %>
                <p class="ml-3"><%= @address %></p>

                <%= f.radio_button :address_num, 1 %>
                <%= f.label :address, "選択済み住所から選択" %>
                <p class="ml-3"><%= f.select :address_box, options_for_select(@shipping_addresses.map do |ship|
                     ["〒" + ship.postcode + "  " + ship.address + "  " + ship.name , ship.id]end) %></p>

                <%= f.radio_button :address_num,2 %>
                <%= f.label :address, "新しいお届け先" %>
                  <div class="field mb-1">
                    <%= f.label :"郵便番号(ハイフンなし)", class: 'col-4' %>
                    <%= f.text_field :postcode, autofocus: true, class: 'rounded', placeholder: "0000000" %>
                  </div>
                  <div class="field mb-1">
                    <%= f.label :"住所", class: 'col-4' %>
                    <%= f.text_field :address, autofocus: true, class: 'rounded col-6', placeholder: "東京都渋谷区代々木神園町0-0" %>
                  </div>
                  <div class="field mb-1">
                    <%= f.label :"宛名", class: 'col-4' %>
                    <%= f.text_field :name, autofocus: true, class: 'rounded', placeholder: "令和道子" %>
                  </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= f.submit "確認画面へ進む", class: "btn btn-primary col-3" %>
          </div>


          <% end %>

      </div>
      
      <div class="col-5 order_new_image">
      </div>
      
      
      
    </div>
  </div>
</body>