 <div class="container">
   <div class="row">
      <div class="col">
        <h4 class="mb-5 cart-color col-3 text-center">ショッピングカート</h4>
          <%= link_to 'カートを空にする', cart_products_destroy_all_path, method: :delete, class:'btn btn-danger' %>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @sum = 0 %>
              <% @cart_products.each do |cart_product| %>
                <tr>
                  <td><%= cart_product.product.name %></td>
                  <td>
                    <% tax_in = cart_product.product.add_tax_price %>
                      ¥ <%= tax_in %>(税込)
                  </td>
                  <td>
                    <%= form_with model:cart_product, local:true do |f|%>
                      <%= f.select :amount, options_for_select((1..10).to_a, selected:cart_product.amount) %>
                      <%= f.submit '変更', class:"btn btn-success" %>
                    <% end %>
                  </td>
                  <td><%= tax_in * cart_product.amount %></td>
                  <td>
                    <%= link_to "削除する", cart_product_path(cart_product), method: :delete, class:"btn btn-sm btn-danger" %>
                  </td>
                </tr>
              <% @sum += tax_in * cart_product.amount %>
              <% end %>
            </tbody>
          </table>
      </div>
   </div>

   <div class = "row">
     <div class = "col">
       <%= link_to '買い物を続ける', root_path, class:'btn btn-primary' %>

       <table class="table table-hover table-inverse">
        <tr>
          <th>合計金額</th>
          <td>
            ¥<%= @sum %>
          </td>
        </tr>
      </table>
     </div>
   </div>

   <div class = "row">
     <div class = "col">
       <%= link_to '情報入力に進む', orders_new_path, class:'btn btn-success' %>
     </div>
   </div>

 </div>
