<div class="container">
  <div class="row">
    
      <h4 class="mb-5 text-color col-3 text-center pt-4 rounded-pill">
        商品一覧(全<%= @products.count %>件)
      </h4>
    <div class="col-8 product_index_image offset-1"></div>
    
  </div>

  <div class="row">
    <% @products.each do |product| %>
       <div class="card-group">
         <div class="card card border-light mb-3 ml-3 mr-3">
           <div class="card-img-top">
             <%= link_to product_path(product.id) do %>
               <%= attachment_image_tag(product, :image, size: "200x150", fallback: "no_image.jpg") %>
             <% end %>
            </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= product.name %>
            </h5>
            <p class="card-text">
              <% tax_in = product.add_tax_price %>
                ¥<%= tax_in.to_s(:delimited) %>
            </p>
          </div>
        </div>
       </div>
    <% end %>
  </div>
  <div class ="row">
    <%= paginate @products %>
  </div>
</div>

