<div class = "container">
  <div class = "row" >
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
           <%= attachment_image_tag @product,:image, size:"100x100", fallback: "no_image.jpg" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= @product.name %>
            </h5>
            <p class="card-text">
              <%= @product.detail%>
            </p>
            <p class="card-text">
              ¥<%= @product.price %>(税込)
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <%= form_with model:cart_products, local:true do |f|%>
        <%= f.hidden_field :product_id, value: @product.id %>
        <select class="form-select" aria-label="Default select example">
          <option selected>個数選択</option>
          <%= f.select_tag :amount, options_for_select((1..10).to_a) %>
        </select>
        <%= f.submit 'カートに入れる', class:"btn btn-success" %>
      <% end %>
    </div>
    
  </div>
</div>