<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4 col-2 pt-2 pb-2 text-center rounded-pill text-white bg-dark">注文履歴一覧</h4>
    </div>
    <div class="col-8 mx-auto">
      <table class="table table-hover rounded-top rounded-bottom table_border_radius">
        <thead class="thead-dark">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%=link_to "#{order.created_at.strftime('%Y/%m/%d %H:%M:%S')}", admins_order_path(order.id), class: "text-dark border-bottom border-dark" %></td>
            <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
            <td><%= order.order_products.sum(:amount) %></td>
            <td><%= order.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>