<script src="https://kit.fontawesome.com/8a2ca55f79.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">

<div class="guide-plate d-flex align-items-center justify-content-center">
  <div class=admin-page-title>商品一覧</div>
</div>

<div class="admin-products-cover1 d-flex align-items-center justify-content-center">
  <div class="admin-products-cover2 d-flex align-items-center justify-content-center">
    <div class="overflow-auto" style="width:100%; height:500px">
      <div class="container">
        <div class="row">
          <%= link_to new_admins_product_path do %>
            <i class="fas fa-plus-circle fa-3x new-button"></i>
          <% end %>
          <table class='table table-borderless'>
            <thead>
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= product.id %></td>
                  <td><%= link_to product.name, admins_product_path(product.id) %></td>
                  <td><%= product.price %></td>
                  <td><%= product.genre.name %></td>
                  <td>
                  <% if product.status == true %>
                    <p class="text-success">販売中</p>
                  <% else %>
                    <p class="text-secondary">販売停止中</p>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
　　　  </div>
　　　</div>
    </div>
  </div>
</div>