<h2>商品詳細</h2>

<table class='table'>
  <tr><%= attachment_image_tag(@product, :image, :fill, 200,200, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>商品名</th>
	  <td><%= @product.name %></td>
  </tr>
  <tr>
	  <th>商品説明</th>
	  <th><%= @product.detail %></th>
  </tr>
  <tr>
	  <th>ジャンル</th>
	  <td><%= @product.genre.name %></td>
  </tr>
  <tr>
	  <th>税込価格（税抜価格）</th>
	  <th><%= @product.price %></th>
  </tr>
  <tr>
	  <th>販売ステータス</th>
	  <th><%= @product.status %></th>
  </tr>
  <tr>
    <th><%= link_to "編集する" , edit_admins_product_path(@product.id), class: 'btn btn-success' %></th>
  </tr>
</table>