<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">

<div class="guide-plate d-flex align-items-center justify-content-center">
  <div class=admin-page-title>商品詳細</div>
</div>

  <div class="admin-products-box1 d-flex align-items-center justify-content-center">
    <div class="admin-products-box2 d-flex align-items-center justify-content-center">
      <table class='table table-borderless'>
        <tr><%= attachment_image_tag(@product, :image, :fill, 300,300, fallback: "no_image.jpg") %></tr>
        <tr>
      	  <th>商品名</th>
      	  <td><%= @product.name %></td>
        </tr>
        <tr>
      	  <th>商品説明</th>
      	  <th><%= @product.detail %></th>
        </tr>
        <tr>
      	  <th>ジャンル</th>
      	  <td><%= @product.genre.name %></td>
        </tr>
        <tr>
      	  <th>税込価格（税抜価格）</th>
      	  <th>
      	    <% tax_in = @product.price * 1.10 %>
      	    ¥ <%= tax_in.round %>
      	    (<%= @product.price %>)
      	  </th>
        </tr>
        <tr>
      	  <th>販売ステータス</th>
      	  <th>
              <% if @product.status == true %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-secondary">販売停止中</p>
              <% end %>
          </th>
        </tr>
        <tr>
          <th><%= link_to "編集する" , edit_admins_product_path(@product.id), class: 'btn btn-success' %></th>
        </tr>
      </table>
    </div>
  </div>