<ul class="navbar-nav ml-auto">
  <% if customer_signed_in? %>
    <li class: "navbar-text text-dark ">
      ようこそ、<%= current_customer.last_name %>さん！
    </li>
    <li>
      <%= link_to "マイページ", customers_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "商品一覧", products_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "カート", cart_products_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %>
    </li>
    <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <li>
      <%= link_to "About", about_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "商品一覧", products_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark" %>
    </li>
  <% end %>
</ul>