<ul class="navbar-nav ml-auto">
  <% if admin_signed_in? %>
    <li>
      <%= link_to "商品一覧", admins_products_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "会員一覧", admins_customers_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "注文履歴一覧", admins_root_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "ジャンル一覧", admins_genres_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
    </li>
    <div class="search-form ">
      <%= form_with url: admins_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "search", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <li>
      <%= link_to "About", about_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "商品一覧", products_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark" %>
    </li>
    <li>
      <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark" %>
    </li>
  <% end %>
</ul>